* {
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url('media/background2.jpg');
    background-size: cover;
}

#main-mon {
    width: 75%;
    height: 850px;
    border: 3px solid black;
    margin: auto;
    border-radius: 20px;
    background-color: lightgray;
}

#frame-mon {
    width: 95%;
    height: 85%;    
    margin: auto;
    border-radius: 20px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.495);
}

#mon {
    width: 97%;
    height: 95%;
    /*border: 1px solid blueviolet;*/
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: black;
}

#main-window {
    width: 95%;
    height: 88%;
    /*border: 1px solid yellow;*/
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: lightgrey;
    background-color: black;
    overflow-y: auto;
}

p {
    line-height: 1.5;
}

#inp {
    width: 95%;
    margin: auto;
    display: inline;
    text-align: center;
    background-color: black;
    color: lightgrey;
}

#inp input {
    width: 82%;
    display: inline;
    background-color: black;
    color: lightgrey;
    border: 0;
    border-bottom: 1px solid white;
}

#inp input:focus {
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(0, 143, 88);
}

#inp p {
    display: inline;
    margin-left: 45px;
    background-color: black;
    color: rgb(211, 211, 211);
}


#buttons {
    width: 95%;
    margin: auto;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttons button {
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    height: 40px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(211, 211, 211); 
    border-radius: 10px;
    
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

#table {
    width: 600px;
    height: 60px;
    border: 1px solid black;
    margin: auto; 
    background-color: rgb(179, 179, 179);
}