body {
  background-color: #002b36;
  color: #93a1a1;
  font-family: Consolas, monaco, monospace;
}


h1 {
  text-align: center;
  color: #93a1a1;
  padding: 10px;
  margin: auto;
}

h2 {
    text-align: center;
    color: #93a1a1;
}

table {
    margin: auto;
    border: 2px solid #586e75;
    text-align: justify;
    font-size: 18px;
    border-collapse: collapse;
    width: 98%;
    
}

td {
    border: 1px solid #586e75;
    padding: 10px;
    text-align: justify;
    border-collapse: collapse;
    
}

tr:hover {
    background-color: #073642
}

.coll {
    font-weight: bold;
    border: 1px solid #586e75;
    color: #2aa198;
}

tr {
    height: 30px;
    border-collapse: collapse;
}

th {
    text-align: center;
    border-collapse: collapse;
    color: #859900;
}

.table-inline {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.code1 {
    border: 1px solid #93a1a1;
    border-radius: 3px;
    width: 40%;
    height: 100px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.atr {
    margin: auto;
    border: 2px solid #93a1a1;
    text-align: justify;
    font-size: 18px;
    border-collapse: collapse;
    width: 75%;
}

p {
    font-size: 18px;
    padding: 50px 50px;
}

.tag {
    color:#859900;
}

.css-tag {
    color: #268bd2;
}

a {
    color: #2aa198;
}